body {
  position: relative;
}

.topIcon {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 500;
  
}

.topIcon.inactive {
  display: none;
}

.topIcon img {
  width: 40px;
  transition: 0.5s;
}

.topIcon img:hover {
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.5s;
}