*{
    margin: 0;
    padding: 0;
}
.navbar {
    background: linear-gradient(to right, #6bffba, #bbff5c);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    width: 90%;
  }
  
  .navbar_logo {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
  }
  .navbar_logo>img {
   width: 5rem;
  }
  
  .nav_menu {
    display: flex;
    list-style: none;
  }
  
  .nav_item {
    margin-right: 20px;
  }
  
  .nav_links {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav_links:hover {
    color: #ffd4d4;
  }
  